language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip3 install -r requirements.txt
  - pip3 install -r requirements-test.txt

script:
  - flake8
  - python -m unittest discover -v

notifications:
  email: false
